/* Temel sayfa ayarları */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#game-container {
    display: flex;
    border: 1px solid #ccc;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    background: #fff;
    width: 90%;
    max-width: 1200px;
}

/* Sol taraf - UI paneli */
#game-ui {
    width: 300px;
    padding: 20px;
    box-sizing: border-box; /* Padding'i genişliğe dahil et */
    border-right: 1px solid #ddd;
}

#game-ui h1 {
    font-size: 24px;
    margin-top: 0;
}

.stats {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

#question {
    color: #007BFF;
    font-size: 22px;
}

/* Sağ taraf - Harita */
#map {
    /* Kalan alanı kapla */
    flex: 1;
    height: 700px; /* Yüksekliği sabitleyebilirsiniz */
    background-color: #e6e6e6;
}